body {
    /*background-color: #dfdfdf;
    background-image: url("gambar/Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;*/
    background: #dfdfdf url("gambar/Background.jpg") repeat-y fixed center;
}

#menu_web{
    background: gray;
    margin-bottom: 50px;
    /*margin: top right bottom left*/
}

.Menu{
    display:inline-block;
    /* height: 50px;
    width: 100px; */
    text-decoration: none;
    
    border-widht: 5px;
    border-style:solid;
    border-color:purple;
    padding: 20px;
}
.Menu:Link{
   background: gray;
   color: White; 
}
.menu:visited{
    background: purple;
}

.menu:hover{
    background: yellow;
}

.menu:active{
    background: green;
}

h1{
    color: red;
    font-size:40px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    /*display: inline;*/ /*Html ada inline ada block, kalau block lebarnya sesuai browser*/
}

h2{
    color: green;
    font-size:30px;
    text-align: center;
}

#textpanjang{
    text-align: justify;
    text-indent: 30px;
    /*letter-spacing: 5px;*/
    /*line-height: 20px;*/
    /*word-spacing: 7px;*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*max-width: 100px;*/
    /*max-height: 100px;*/
    /*width: 50%;*/
}

#textpendek{
    /*font-size: 24px;*/
    font-family: fantasy;
    font-weight: bold;
    /* visibility: hidden; */
    display: none;
}
