body {
    /*background-color: #dfdfdf;
    background-image: url("gambar/Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;*/
    background: #dfdfdf url("gambar/Background.jpg") repeat-y fixed center;
}

#menu_web{
    background: gray;
}

.Menu {
   color: white; 
}

h1{
    color: red;
    font-size:40px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

h2{
    color: green;
    font-size:30px;
    text-align: center;
}

#textpanjang{
    text-align: justify;
    text-indent: 30px;
    /*letter-spacing: 5px;*/
    /*line-height: 20px;*/
    /*word-spacing: 7px;*/
}

#textpendek{
    /*font-size: 24px;*/
    font-family: fantasy;
    font-weight: bold;
}
